section {
	width: 100%;
	padding: 0 !important;
}

.content {
	overflow: hidden;
	height: 100%;
	margin-top: 1rem;
	margin: 1rem auto;
	padding: 1rem;
	width: 35rem;
	background-color: #ececec;
	position: relative;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}


	.content {
		width: 100%;
	}
}