section {
	width: 100%;
	padding: 0 !important;
}

.content {
	overflow: hidden;
	height: 100%;
	margin-top: 1rem;
	margin: 1rem auto;
	padding: 1rem;
	width: 35rem;
	background-color: #ececec;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Container adjustments */
.math-diagram {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 20px 0;
	font-weight: bold;
	color: #333;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-size: 2rem;
	position: relative;

}

/* Base Shapes */
.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #333;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.circle.small {
	width: 50px;
	height: 50px;
}

.box-yellow {
	background-color: #ffdf4d;
	border: 2px solid #333;
	border-radius: 8px;
	padding: 2px 15px;
	min-width: 60px;
	text-align: center;
}

/* Colors */
.blue {
	background-color: #c5e9f4;
}

.yellow {
	background-color: #ffdf4d;
}

.pink {
	background-color: #f9cbd1;
}

/* Number Bond Specifics */
.top-equation {
	margin-bottom: 9rem;
}

.bond-lines {
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 40px;
}

.line {
	position: absolute;
	width: 2px;
	height: 35px;
	background: #333;
}

.line.left {
	transform: rotate(35deg);
	left: 25px;
}

.line.right {
	transform: rotate(-35deg);
	right: 25px;
}

.bond-circles {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 25px;
}

/* Red Dashed Highlight */
.highlight-dashed {
	position: absolute;
	border: 2px dashed #e74c3c;
	width: 190px;
	height: 70px;
	border-radius: 15px;
	top: -20px;
	left: 15px;
	transform: rotate(65deg);
	transform-origin: top left;
	pointer-events: none;
	z-index: 10;
}


.arrow-down {
	font-size: 2.5rem;
	color: #5d4037;
}

/* Mobile optimization */
@media screen and (max-width: 600px) {
	.row {
		font-size: 1.5rem;
		gap: 8px;
	}

	.circle {
		width: 45px;
		height: 45px;
	}

	.top-equation {
		margin-bottom: 50px;
	}

	.bond-circles {
		top: 85px;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}


	.content {
		width: 100%;
	}
}