section {
	width: 100%;
}

.content {
	overflow: hidden;
		height: 100%;
		margin: 0 auto;
		padding: 1rem;
		width: 35rem;
		background-color: #ececec;
		position: relative;
}

.content>.char {
	position: absolute;
	top: 60%;
	left: 25%;
	translate: -50% -50%;
	scale: 10;
	z-index: 1;
}

.lantai {
	position: absolute;
	top: 65%;
	left: 50%;
	scale: 6;
}

.board {
	position: absolute;
	top: 10%;
	left: 50%;
	translate: -50% 0;
	height: calc(16px * 8);
	width: calc(48px * 8);
	z-index: 1;
}

.board img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.board>.text {
	position: relative;
	height: 100%;
	width: 100%;
}

.board>.text>.row {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.board3>.text>.row {
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.board2>.text>.row {
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}

.board2>.text>.row>span {
	height: 4rem;
	aspect-ratio: 1 / 1;
	background-color: lightgoldenrodyellow;
	border: 3px dashed black;
}

.board>.text>.row>.roww {
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: repeat(1, 1fr);
	place-items: center;
}

.board>.text>.row>.roww>* {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.box {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	place-items: center;
}

.boxapple {
	width: 100%;
	height: 110%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.apple {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../imgs/apple.png");
	transition: all 0.2s ease-in-out;
}


.dialog {
	padding: 0.5rem;
	position: absolute;
	top: 42%;
	left: 25%;
	height: calc(20px * 6);
	width: calc(48px * 6);
	z-index: 1;
}

.dialog>.text>img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.dialog>.text {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog>.text>h4 {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
}

.btn-next {
	all: unset;
	position: absolute;
	bottom: 30px;
	right: 30px;
	padding: 1rem 2rem;
	background-color: yellow;
}

.hidden {
	visibility: hidden !important;
}

.yellow {
	background-color: yellow;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}

	.lantai {
		scale: 5;
	}

	.content>.char {
		scale: 8;
		top: 70%;
	}

	.dialog {
		width: 70%;
	}

	.board,
	.board2,
	.board3 {
		width: 100%;
	}

	.content {
		width: 100%;
	}
}