section {
	width: 100%;
	padding: 0 !important;
}

.content {
	overflow: hidden;
	height: 100%;
	margin: 1rem auto;
	padding: 1rem;
	width: 35rem;
	background-color: #ececec;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2rem;
}

.numbers {
	height: 100px;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
	padding: 0.5rem;
}
.numbers:nth-child(2){
	grid-template-columns: repeat(6, 1fr);
}

.number {
	height: 100%;
	aspect-ratio: 1 / 1;
	background-color: #e2e2e2;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}


	.content {
		width: 100%;
	}

	.numbers {
		height: 70px;
	}
}