		section{
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: lightblue;
			font-size: 2rem;
			position: relative;
			user-select: none;
			position: relative;
		}

		.container {
			background-color: #fff;
			padding: 0.5rem;
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 3rem;
		}

		.jawapan {
			display: grid;
			place-items: center;
		}

		.numbers {
			display: grid;
			grid-template-columns: 2fr 2fr 1fr;
			gap: 0.5rem;
		}

		.numbers:nth-child(4),
		.numbers:nth-child(5) {
			margin-top: 0.5rem;
		}

		.number {
			background-color: #e7e7e7;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		.simbol {
			position: absolute;
			z-index: 10;
			right: 0;
			height: 50%;
			aspect-ratio: 1 / 1;
			font-size: 3rem;
			transform: translateX(50%);
			background-color: #f1f1f1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.number:nth-child(1),
		.number:nth-child(2) {
			width: 100%;
		}

		.gambar-group {
			margin: 0.5rem 0;
			display: grid;
			grid-template-columns: 2fr 2fr 1fr;
			gap: 0.5rem;
		}

		.left,
		.right {
			background-color: #e7e7e7;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
			gap: 0.1rem;

			background-color: #e45c0d3a !important;
			outline: 2px dashed #e42d0d;
		}

		.img {
			aspect-ratio: 1 / 1;
			background-image: url("../imgs/apple.png");
			background-size: contain;
		}

		.IMG {
			width: calc(40px * 2);
			aspect-ratio: 1 / 1;
			background-image: url("../imgs/apple.png");
			background-size: contain;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			animation: 0.5s gayang linear infinite alternate;
			z-index: 10;
		}

		.highlight {
			background-color: #d1ffd1 !important;
			outline: 2px dashed #4CAF50;
		}

		.dialog {
			padding: 1rem;
			background-color: rgba(222, 236, 14, 0.575);
			outline: 2px rgb(170, 170, 21) dashed;
			margin: 0.5rem;
		}

		@keyframes gayang {

			0%,
			50% {
				transform: rotateZ(-20deg);
				scale: 1;
			}

			50% {
				transform: rotateZ(10deg);
				scale: 1.2;
			}
		}